body,
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: block;
    margin: 0;
    background-image: url(../images/bread.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

header,
section,
footer,
.logo,
h1,
img,
input,
label,
p,
h1 {
    display: block;
}

a {
    color: #A61D3F;
}

section {
    margin: 0;
}

/* SIDE 1 */


.logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.side1 {
    float: left;
    width: 50%;
    position: relative;
    height: 850px;
}

.side_image {
    height: auto;
    width: 100%;
}

#description {
    color: #fff;
    padding: 5%;
    position: absolute;
    bottom: 20px;
    left: 16px;
    text-align: center;
    font-size: 35px;
}

/* FORM/SIDE 2*/
#title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

input {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #4B435B;
    padding: 5px 0;
    width: 230px;
}

input:focus {
    border-bottom: 4px solid #4B435B;
}

label {
    padding: 5px 0;
    display: inline-block;
    text-align: center;
}

legend {
    display: none;
}

fieldset {
    border: 0;
    width: 600px;
    margin: 0 auto;
}

.side2 {
    float: left;
    width: 50%;
    background-color: #EEBF8C;
}

.logo_black {
    display: none;
}

form {
    background-color: #EEBF8C;
    margin: 0 auto;
    width: 400px;
}

/* SELECT */

.welcome {
    width: 358px;
    margin: 0 auto;
}

.welcome p {
    text-align: center;
    margin-top: 0;
    padding: 0 20px;
}

.custom-select {
    color: #252525;
    background-color: #EEBF8C;
    border: 2px solid #4B435B;
    text-align: center;
    padding: 5px;
    width: 250px;
    background: url(../images/arrow.png) 96% / 15% no-repeat;
    -webkit-appearance: none;
}

.custom-select option {
    background-color: #EEBF8C;
}

/* CHECKBOX */
input#checkbox,
label#checkbox {
    display: inline-block;
    width: 20px;
}

/* Labels for checked inputs */
input:checked+label {
    color: #4B435B;
}

/* Checkbox element, when checked */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2px #4B435B;
    background-color: #EEBF8C;
}

/* TEXTAREA */
textarea {
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #4B435B;
    border-radius: 2px;
    background-color: #EEBF8C;
}

/* RADIO BUTTONS */


button {
    background-color: #4b435b;
    margin: 0 auto;
}

.button {
    background-color: #fff;
    width: 100%;
}

hr {
    color: #000
}

/* MEDIA QUERIES */
@media only screen and (max-width: 763px) {
    .side1 {
        display: none;
    }

    .side2 {
        width: 100%;
    }

    .logo_black {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
}