body,
html {
    font-family: "Brandon Grotesque Thin";
    display: block;
    margin: 0;
    background-image: url(../images/bread.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

header,
section,
footer,
.logo,
h1,
img, input, label, p, h1 {
    display: block;
}
a {
    color: #A61D3F;
}

section {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Side 1 */

.welcome {
    line-height: 1px;
}

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.side1 {
    float: left;
    width: 50%;
    position: relative;
    height: 1000px;
}

.side_image {
    height: auto;
    width: 100%;
}

#description {
    color: #fff;
    padding: 5%;
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    font-size: 35px;
}

/* Form/Side 2*/
#title {
    text-align: center;
    font-size: 30px;
}
legend {
    display: none;
}
fieldset {
    border: 0;
    width: 600px;
    margin: 0 auto;
}

.welcome p {
    text-align: center;
    font-family: 'monsterrat';
    margin-top: 0;
    font-size: 16px;
}

.side2 {
    float: left;
    width: 50%;
    height: 1000px;
    background-color: #fff;
}

.logo_black {
    display: none;
}

form {
    margin: 0 auto;
    background-color: #EEBF8C;
}

label {
    display: inline-block;
    text-align: center;
}

button {
    background-color: #4b435b;
    margin: 0 auto;
}

.button {
    background-color: #fff;
    height: 70px;
    width: 100%;
}

hr {
    color: #000
}

/* Media queries */
@media only screen and (max-width: 763px) {
    .side1 {
        display: none;
    }

    .side2 {
        width: 100%;
    }

    .logo_black {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
}